<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document
        </title>
    </head>
    <body>
        <a href="{% url 'home' %}">click me</a><hr><br>
       <h1>Hello {{name}}</h1>
       <a href="{% url 'resume' %}">view resume</a><hr><br>
       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam neque inventore laborum at vel rem alias aliquam sit aspernatur! Ex inventore reiciendis voluptatum deleniti error nesciunt esse suscipit harum sint labore autem soluta praesentium ducimus incidunt consequatur quibusdam, culpa impedit nostrum ea? Neque error, maxime omnis eligendi, ratione expedita voluptates et suscipit cum ipsa blanditiis adipisci sint obcaecati quos ex voluptate quae, minus repudiandae iure odit quisquam. Alias consectetur corporis cupiditate, in eos, vero esse earum itaque voluptas, ratione rem officiis quis praesentium quod odit fuga deserunt veniam odio quam porro unde? Dolore itaque doloremque a maxime possimus vero voluptatibus!</p>
    </body>
</html>