<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration Form </title>
    </head>
    <body>
        <div>
        <a href="{% url 'home' %}">click me</a><hr><br>
       <h1>Hello {{name}}</h1>
       <a href="{% url 'resume' %}">view resume</a><hr><br>

       <h1>Fill Your Information</h1>
       <form method="post" action="/home">
        {% csrf_token %}     {% comment %}to protect web applications from Cross-Site Request Forgery (CSRF) attacks {% endcomment %}

        <label for="username">First Name :</label>
        <input type='text', name='uname', placeholder="Enter your name"><br><br>

        <label for="password">Password :</label>
        <input type='password', name='pass', placeholder="Enter password"><br><br>

        <label for="email">Email :</label>
        <input type="email", name="uemail", placeholder="Enter your Email"><br><br>

        <label for="age">Age :</label>
        <input type="number", name="age", placeholder="Enter your Age"><br><br>

        <label for="rb1">Select Experiance</label>
        <input type="radio" name="exp" value="fresher">Fresher</label>
        <input type="radio" name="exp" value="2year">2+ years</label>
        <input type="radio" name="exp" value="5year">5+ years</label><br><br>

        <label for="file">Upload Resume</label>
        <input type="file", name="resume"><br><br>

        <label for="address">Enter your address :</label>
        <textarea name="address" id="address">Enter your Address</textarea><br><br>

        <label for="college">College :</label>
        <select>
            <option value="select">Select</option>
            <option value="c1">K. K. Wagh Nashik</option>
            <option value="c2">KTHM</option>
            <option value="c3">ASM</option>
            <option value="c4">DY Patil</option>
            <option value="c5">Sandip University</option>
        </select><br><br>

        <button type="submit" name="sub1">Register</button><br><br>

        <a href="index.html">return to home</a>
        </form>
        </div>
    </body>
</html>