<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
  </head>
  <body>
    <div>
      <center>
        <h1>Aniket Chafekar</h1>
        <p>
          <a href="aniketchafekar2004@gmail.com">aniketchafekar2004@gmail.com</a>| 9766276519 | <a href="https://github.com/Aniketch45">GitHub Profile</a><br /><a href="https://www.linkedin.com/in/aniket-chafekar-ani345">LinkedIn Profile</a> | Pune, Maharashtra
        </p>
      </center>
    </div>
    <div>
      <hr />
      <h2>ABOUT</h2>
      <p>Passionate Computer Science graduate with a strong foundation in Python, Javascript, C++, MySQL, and modern technologies. Skilled in developing web applications using Django, React, and MySQL with hands-on experience in version control using Git and GitHub. Consistently contributing to projects and eager to learn and contribute to real-world projects.</p>
    </div>
    <hr />
    <div>
      <h2>EDUCATION</h2>

      <h4>Bachelor of Science (Computer Science)&nbsp;&nbsp;&nbsp;&nbsp;2022-2025</h4>
      <ul>
        <li>
          <p>K.K. Wagh Arts, Commerce, Science, and Computer Science College, Nashik</p>
        </li>
        <li>
            <p>CGPA: 8.68</p>
        </li>
      </ul>
      <h4>Higher Secondary Certificate (H.S.C) &nbsp;&nbsp;&nbsp;&nbsp; 2021-2022</h4>
      <ul>
        <li>
        <p> Vinayakrao Patil College, Vaijapur</p>
        </li>
        <li>
             <p>Percentage: 69.50%</p>
        </li>
      </ul>
      <h4>Secondary School Certificate (S.S.C)&nbsp;&nbsp;&nbsp;&nbsp; 2019-2020</h4>
      <ul>
        <li>
        <p> Chhatrapati Shahu Vidyalaya, Vaijapur</p>
        </li>
        <li>
            <p> Percentage: 90.80%</p>
        </li>
      </ul>
    </div>
    <hr>
    <div>
        <h2>TECHNICAL SKILLS</h2>
        <ul>
            <li><b>Programming Languages :</b> Python, Javascript, C++, C (Data Structures & Algorithm, OOP)</li>
            <li><b>Web Technologies :</b>React, Django, HTML, CSS, Bootstrap</li>
            <li><b>Databases :</b>SQL, MySQL</li>
            <li><b>Cloud & DevOps :</b> AWS-Basics, Networking (TCP/IP, HTTP)</li>
            <li><b>Version Control : </b>Git, GitHub</li>
        </ul>
    </div>
    <hr>
    <div>
        <h2>PROJECTS</h2>
        <h4>Twtx Project</h4>
        <p>Built a full-stack Twtx web application that allows users to create, update, and delete tweets, as well as view posts from other users.<br> Implemented secure user authentication, profile management, and dynamic news feeds using Django’s MVT architecture.<br> Designed a responsive and user-friendly interface with Bootstrap, ensuring smooth interaction and database handling through Django ORM.</p>
        <h4>Luxe Attire – Fashion E-commerce</h4>
        <p>Developed a fully responsive and modern clothing website using HTML, CSS, JavaScript, and Bootstrap. <br>Designed attractive layouts, product sections, and contact forms to enhance user experience and mobile compatibility.</p>
        <h4>Car Rental Portal</h4>
        <p>When Users travels, finding cars offline is difficult. Booking online saves time and money.<br>
        A user-friendly website to view cars and order them. Admin manage cars, brands and bookings.<br> Technologies Used: HTML, CSS, JavaScript, PHP, MYSQL</p>
    </div>
    <hr>
    <div>
        <h2>CERTIFICATIONS</h2>
        <ul>
            <li><b>OCI Certified AI Foundations Associate :</b> [sep-oct 2025] ORACLE University</li>
            <li><b>Python Programming :</b>[dec-jan 2025] MKCL</li>
            <li><b>Code Maze Competition :</b>[feb 2025] MCA department KKW</li>
        </ul>
    </div>

  </body>
</html>
